@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root {
  --fonte-padrao: font-family: "Merriweather", serif;
  --cor-header: white;
  --decoracao-header: linear-gradient(to right, #94BD09, #508FF6);
  --cor-destaque1:  #94BD09;
  --cor-destaque2: #508FF6;
}

/* === Garantindo que o site ocupe a tela toda === */
body,
html {
  min-height: 100vh;
  margin: 0;
}

body{
  font-family: var(--fonte-padrao);
  font-size: 20px;
}

/*degrade no inicio da tela*/
.faixa-superior{
  height: 10px;
  background: var(--decoracao-header);
}

/* === HEADER === */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: var(--cor-header);
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

/*configurando a fonte do nome do site CQL*/
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.texto-logo {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.texto-logo h1 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 10px;
}

.texto-logo h2 {
  font-size: 20px;
  margin: 0px;
}

/* === LOGO === */
.logo-container .logo {
  object-fit: contain;
  width: 100px;
  height: auto;
}

/* === MENU === */
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: inline-block;
  transition: transform 0.2s ease;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.menu li a:hover {
  color: var(--cor-destaque1);
  transform: scale(1.1);
}

/*==botão de login==*/
.area-login {
  display: flex;
  align-items: center;
}

.icone-login {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cor-destaque1);
  font-weight: bold;
  gap: 5px;
  transition: transform 0.2s ease; 
}

.icone-login img {
  transition: transform 0.2s ease;
  width: 48px;
  height: 48px;
}

.icone-login:hover {
  transform: scale(1.1);
  cursor: pointer;
}

main {
  display: flex;
}

main section {
  height: 100vh;
  width: 50%;
  padding: 0px;
}

/* === TEXTO AO LADO DA IMAGEM === */
.texto1{
  box-sizing: border-box; /*evita que o padding quebre tudo, nao remover*/
  padding: 50px;
  height: 100%;
  color: white;
  background-color: var(--cor-destaque1);
  text-align: justify;
}


/*=== aba de infos do ifpe ===*/
.texto-fim {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(80, 143, 246, 0.5); /* azul com 50% opacidade */
  font-size: 16px;
  color: black;
  max-height: 140px; /* altura reduzida */
  box-sizing: border-box;
}

.texto1 h2{
  margin:0px;
}

.ifpe-info {
  max-width: 70%;
  line-height: 1.4;
}

.logo-ifpe {
  width: 120px;
  height: auto;
}

footer{
  box-sizing: border-box;
  padding:30px;
  background-color:rgba(80, 143, 246, 0.5) ;
}

footer p{
  margin: 0px;
}