@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --fonte-padrao: font-family: "Merriweather", serif; 
  --cor-header: white;
  --decoracao-header: linear-gradient(to right, #94BD09, #508FF6);
  --cor-fundo: rgba(80, 143, 246, 0.5); /*azul com 50% opacidade*/
  --cor-destaque1:  #94BD09;
  --cor-destaque2: #508FF6;
}